* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5efe6;
  min-height: 100vh;
  padding: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

header {
  font-family: "Permanent Marker", cursive;
  font-size: 48px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.title {
  font-weight: bold;
  background-image: radial-gradient(
    circle at 48% 50%,
    #080202,
    #08020269,
    #080202
  );
  -moz-background-clip: text;
  color: transparent;
  background-clip: text;
  width: 300px;
}
.time {
  background-image: radial-gradient(
    circle at 48% 50%,
    #080202,
    #08020269,
    #080202
  );
  -moz-background-clip: text;
  color: transparent;
  background-clip: text;
  width: 200px;
}
.input-container {
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
.input-container button,
.input-container input {
  height: 100%;
}

.input-container button {
  flex: 1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}
.input-container input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8dfca;
  border-radius: 5px;
}
.task p {
  flex-grow: 1;
  padding: 20px;
  margin: 0;
  color: #000202;
}
.icon {
  display: flex;
  padding: 10px;
  cursor: pointer;
}
.icon i {
  margin-left: 10px;
  padding: 10px;
}
#delete {
  color: #b81f1f;
}
#done {
  color: #0ab412f8;
}
#undo {
  color: #df8602e1;
}
.icon label {
  margin: 5px;
  cursor: pointer;
}
.none {
  display: none;
}
.task-container > * {
  margin-top: 20px;
}
